body {
  /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background: #1F2039;
  color:#F9F8FF;
}

a {
  color: black;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.1em;
}

.links{
  background: white;
  color:#242424;
}

.new_links{
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(90deg, #F9F8FF,#ACAEED);
  color:white;
}
